* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: cadetblue !important;
}

.card {
    background-color: cadetblue;
    display: inline-flex;
    margin-top: 25px;
    margin-left: 75px;
}